* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 400px;
    min-height: 80vh;
    background-color: teal;
    border: 1px solid transparent;
    margin: 10vh auto;
    border-radius: 4px;
   
}

.main h1 {
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 3rem;
}

.add {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.add input {
    width: 250px;
    height: 50px;
    border: none;
    font-size: 22px;
    border-radius: 4px;
    background-color: cornsilk;
    padding: 20px;

}

.add button {
    width: 100px;
    height: 50px;
    background-color: rgb(212, 16, 16);
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 4px;
    padding: 5px;
}

.add button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 25px;
}

ul li {

    font-size: 22px;
    color: black;
    padding: 4%;
    text-transform: capitalize;
    cursor: pointer;
    width: 350px;
    background-color: white;
    border-radius: 4px;
    margin-top: 4%;
}

.add .fa {
    margin-right: 5px;
}

ul .fa {
    margin-right: 20px;
    font-size: 22px;
    color: black;
}

.main .fa {
    margin-right: 20px;
    font: 34px;
}